extends layout
block body
    -storeExists = storeExists
    -homelink = JSON.stringify(homelink)
    script(type="text/javascript").
        function check(storeExists) {
        console.log('store?')
        }
    div.row(style="background-color:#fff")
        img(src="/shopify/img/ajax-loader.gif", id="gif",class="loader-gif", style="margin-top: 35%; margin-left: 50%; width:17px;height:17px")
        script(type="text/javascript").
            function addClass(id,new_class){
            var i,n=0;
            new_class=new_class.split(",");

            for(i=0;i<new_class.length;i++){
                   if((" "+document.getElementById(id).className+" ").indexOf(" "+new_class[i]+" ")==-1){
                           document.getElementById(id).className+=" "+new_class[i];
                           n++;
                   }
            }
            return n;
            }
        div.span(style="position:fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);", hidden=storeExists)
            form(action='/shopify/add',method='post', id='kipform',style="margin-top:50px")
                br
                br
                br
                br
                center
                    h5.
                        Enter your shop on Kip!
                input(type="checkbox", name="online", onchange="toggleDisabled(this.checked)", style="display: inline;")
                p(style="display:inline; margin-left: 10px") * Store is online only.
                br
                center
                    p - or -
                script(type="text/javascript").
                    function toggleDisabled(_checked) {
                    document.getElementById('i1').disabled = _checked ? true : false;
                    document.getElementById('i2').disabled = _checked ? true : false;
                    document.getElementById('i3').disabled = _checked ? true : false;
                    document.getElementById('i4').disabled = _checked ? true : false;
                    document.getElementById('i5').disabled = _checked ? true : false;
                    }
                label Enter your physical store address:

                label Street
                input(type="text",id="i1",name="street", placeholder="example: 100 Kip Street",size=50, required)
                br
                label City
                input(type="text",id="i2",name="city", placeholder="example: New York",size=50, required)
                br
                label State
                input(type="text",id="i3", name="state", placeholder="example: NY",size=50, required)
                br
                label Zipcode
                input(type="text",id="i4", name="zipcode", placeholder="example: 10001",size=50,required)
                br
                label Contact Number (optional)
                input(type="text",id="i5", name="tel",placeholder="example: 212-867-5309" size=50)
                input(type="hidden",id="exists", name="exists", value='false')
                br
                input(type="submit", class="btn btn-primary btn-large", style="margin-left:150px" id="submit_button",value="Submit")
        div.span(style="position:fixed;top: 40%;left: 50%;transform: translate(-50%, -50%);", hidden=!storeExists)
            h3.
                Keep all of your products and inventory up-to-date on Kip!
            form(action='/shopify/add',id='kipform',method='post', style="margin-top:50px")
                input(type="hidden",id="exists", name="exists", value='true')
                input(type="submit", onclick="addClass('gif','visible')",class="btn btn-primary btn-large", style="margin: 0 auto", id="submit_button",value="Update my Inventory!")
