extends layout
block body
    -storeExists = storeExists
    -homelink = JSON.stringify(homelink)
    script(type="text/javascript").
        function check(storeExists) {
        console.log('store?')
        }
    div.row(style="background-color:#fff")
        div.span(style="position:fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);", hidden=storeExists)
            form(action='/shopify/add',method='post', style="margin-top:50px")
                br
                br
                h3.
                    Enter your store on Kip!
                br
                input(type="checkbox", name="online", onchange="toggleDisabled(this.checked)", style="display: inline;")
                p(style="display:inline; margin-left: 10px") *Store is online only.
                br
                br
                script(type="text/javascript").
                    function toggleDisabled(_checked) {
                    document.getElementById('i1').disabled = _checked ? true : false;
                    document.getElementById('i2').disabled = _checked ? true : false;
                    document.getElementById('i3').disabled = _checked ? true : false;
                    document.getElementById('i4').disabled = _checked ? true : false;
                    document.getElementById('i5').disabled = _checked ? true : false;
                    }
                label Enter your physical store address:
                br
                label Street
                input(type="text",id="i1",name="street", placeholder="example: 100 Kip Street",size=50, required)
                br
                label City 
                input(type="text",id="i2",name="city", placeholder="example: New York",size=50, required)
                br
                label State
                input(type="text",id="i3", name="state", placeholder="example: NY",size=50, required)
                br
                label Zipcode
                input(type="text",id="i4", name="zipcode", placeholder="example: 10001",size=50,required)
                br
                label Contact Number (optional)
                input(type="text",id="i5", name="tel",placeholder="example: 212-867-5309" size=50)
                input(type="hidden",id="exists", name="exists", value='false')
                br
                input(type="submit", class="btn btn-primary btn-large submitter" id="submit_button",value="Submit")
        div.span(style="position:fixed;top: 40%;left: 50%;transform: translate(-50%, -50%);", hidden=!storeExists)
            h3.
                Keep all of your products and inventory up-to-date on Kip! 
            form(action='/shopify/add',method='post', style="margin-top:50px")
                input(type="hidden",id="exists", name="exists", value='true')
                input(type="submit", class="btn btn-primary btn-large submitter", style="margin-left:150px", id="submit_button",value="Update my Inventory!")
